* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title {
    color: #005caf;
    font-size: xxx-large;
    padding: 10px 0 10px 0;
}

.mainContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 10% 33% 10% 33%;
}

.item {
    width: 100%;
    font-size: x-large;
    text-align: left;
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 0 12px 0;
    display: flex;
    align-items: center;
    flex-flow: row;
    justify-content: flex-start;
}

.item:last-child {
    margin: 0;
}

.todosContainer {
    width: 100%;
    height: 100%;
    overflow: auto;
    flex: 1;
    margin: 10px 0 0 0;
}

.formArea {
    width: 100%;
}

.addTitle {
    font-size: x-large;
    width: 100%;
    text-align: center;
    padding: 0 0 10px 0;
}

.buttonArea {
    text-align: center;
    padding: 10px 0 5px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    padding: 6px 23px 6px 23px;
    font-size: large;
    background: #005caf;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.input {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: x-large;
    padding: 15px 25px 15px 25px;
    width: 100%;
    border-radius: 5px;
}

.input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.itemContainer {
    width: 100%;
}

.optionList {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.33s;
    width: 100%;
    display: flex;
    justify-content: center;
}


.itemContainer:hover .optionList {
    opacity: 1;
    display: flex;
    height: 2.5em;
}

.smallButton {
    padding: 3px 7px 3px 7px;
    font-size: smaller;
    border: none;
    color: #005caf;
    border-radius: 5px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
    margin: 0 5px 0 0;
}

.smallButton:hover + .itemText {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.3);
}

.buttonActive {
    padding: 3px 7px 3px 7px;
    font-size: smaller;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
    margin: 0 5px 0 0;
    background: #005caf;
    color: white;
}

.smallButton:hover {
    background: rgba(0, 92, 175, 0.2);
}

.itemText {
    user-select: none;
    padding: 0 0 0 5px;
}

.itemTextDone {
    padding: 0 0 0 5px;
    user-select: none;
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.3);
}

.smallButton:hover + .itemTextDone {
    text-decoration: none;
    color: black;
}

.filterList {
    display: flex;
    padding: 0 0 10px 0;
}

.deleteButton {
    padding: 3px 10px 3px 10px;
    border: none;
    font-size: larger;
    color: #CB1B45;
    border-radius: 5px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
    margin: 0 5px 0 0;
}

.deleteButton:hover {
    background: #CB1B45;
    color: white;
}

.headControlContainer {
    display: flex;
}

.undoText {
    padding: 0 0 13px 0;
    color: #005caf;
    font-size: x-large;
}

.editInput {
    font-size: x-large;
    flex: 1;
    margin-left: 11px;
    /*border: 1px solid rgba(0, 0, 0, 0.1);*/
    /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);*/
}

/*.mvc{*/
/*    background: #005caf;*/
/*    color: white;*/
/*    padding: 0 15px 0 15px;*/
/*    border-radius: 5px;*/
/*    margin-left: 5px;*/
/*}*/
