<div class="mainContainer">
    <div class="title">
        TodoMVC
    </div>
    <div class="formArea">
        <form action="/addNew" method="post">
            <!--            <div class="addTitle">-->
            <!--                添加新事项-->
            <!--            </div>-->
            <div>
                <input placeholder="添加新事项" class="input" name="name" type="text" id="name">
            </div>
            <div class="buttonArea">
                <button class="button" type="submit">添加</button>
            </div>
        </form>
    </div>
    <div class="todosContainer">
        <%
        if (type === 'active') {
            todos = todos.filter(e => e.type === 'active')
        }
        if (type === 'done') {
            todos = todos.filter(e => e.type === 'done');
        }
        todos.forEach(function(item){ %>
            <div class="item"><%= item.text %></div>
        <% }) %>
    </div>
</div>
